#menu li {
    text-decoration: none;
    display: inline;
    color: brown;
    padding-right: 40px;
    
}
.container h1 {
    color: maroon;
    text-align: center  
    
    
}
hr {
    padding: 0;
}